{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block myTitle %}Liste des contacts{% endblock %}


{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <button class="btn btn-secondary"><a href="{{ path('contact_show', {'id': contact.id}) }}">Détails</a></button>
                    {# <button class="btn btn-info"><a href="{{ path('contact_edit', {'id': contact.id}) }}">Editer</a></button> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de message enregistré dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Utilité d'un bouton de création? -->
    <!-- <button class="btn btn-success"><a href="{{ path('contact_new') }}">Create new</a></button> -->
</div>
{% endblock %}
