{% extends 'base.html.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block myTitle %}Les articles{% endblock %}

{% block body %}
<div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                {# <th>Created_at</th> #}
                <th>Titre</th>
                <th>Texte</th>
                <th>Image</th>
                <th>Visuel</th>
                {# <th>Updated_at</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                {# <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ article.title }}</td>
                <td>{{ article.text }}</td>
                <td>{{ article.image }}</td>
                <td><div class="image_visu"><img src="{{asset('images/' ~ article.image)}}" alt=""  style="height: 200px; width: 200px;"></div></td>
                {# <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <button class="btn btn-secondary"><a href="{{ path('article_show', {'id': article.id}) }}">Détails</a></button>
                    <button class="btn btn-info"><a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a></button>
                    <button class="btn btn-success"><a href="{{ path('article_new') }}">Créer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Il n'y a pas d'article dans la base de données!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
